<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{ $navCurrent := .Scratch.Get "navCurrent" }}
        {{ range .Site.Menus.main }}
        <li class="nav-{{ .Identifier }} {{ if eq $navCurrent .Name }}nav-current{{ end }}" role="presentation"><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
    <a class="subscribe-button icon-feed" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}">Subscribe</a>
</div>
<span class="nav-cover"></span>